<div class="navbar navbar-expand navbar-light bg-light fixed-bottom">
  <div class="row no-margin mx-auto">
    <div class="text-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="mailto:contact.frigohero@gmail.com">Nous Contacter</a>
        </li>
      </ul>
    </div>
  </div>
</div>