<% content_for :for_head do %>
<title>FrigoHero | À-propos </title>
<% end %>

<div class="row justify-content-center">
  <div class="card text-white bg-success mb-3 main-card col-8 col-lg-8">
    <div class="card-header">
      <h1>FrigoHero</h1>
    </div>
    <div class="card-body">
      <center>
        <p>Le projet <a style="text-decoration: underline; color: white;" href="https://github.com/ThibautGrx/FrigoHero">FrigoHero</a>
          a été crée dans le cadre du bootcamp <a style="text-decoration: underline; color: white;" href="https://www.thehackingproject.org/code">"The
            Hacking Project"</a> par 4 apprenants :</p><br>
        <a style="text-decoration: underline; color: white;" href="https://github.com/ClemLC">Clément</a><br>
        <a style="text-decoration: underline; color: white;" href="https://github.com/Kyodex">Dinehs</a><br>
        <a style="text-decoration: underline; color: white;" href="https://github.com/HamKa85">Hamza</a><br>
        <a style="text-decoration: underline; color: white;" href="https://github.com/ThibautGrx">Thibaut</a><br><br><br><br>
      </center>
    </div>
  </div>
</div>
</div>