<% content_for :for_head do %>
<title>FrigoHero | CGS </title>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="card main-card col-lg-10">
      <div class="card-header">
        <div class="row row align-items-center justify-content-between">
          <span class="indented">Conditions générales de service</span>
          <%= button_to "Retour", root_path,:method => :get, :class =>"btn btn-secondary return-button" %>
        </div>
      </div>

      <div class="card-body">

        <div class="row">
          <div class="col-sm-12">
            <div class="card text-white bg-secondary mb-3">
              <div class="card-header">
                <center>FRIGOHERO : POURQUOI? POUR QUI ?</center>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card border-light mb-3">
              <div class="card-header">
                <center>
                  <div class="fa fa-info-circle"></div>
                </center>
              </div>
              <div class="card-body">
                <p>1. En finir avec le gaspilage</p>
                <p>2. Donner au lieu de jeter</p>
                <p>3. Apprendre à mieux consommer</p>
                <p>4. Avoir un reflex solidaire</p>
                <p>5. Faire des rencontres autour de valeurs saines, humanistes et solidaires </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card border-light mb-3">
              <div class="card-header">
                <center>
                  <div class="fa fa-users"></div>
                </center>
              </div>
              <div class="card-body">
                <p>1. Particuliers</p>
                <p>2. Entreprises / Institutionnels</p>
                <p>3. Associations</p>
                <p>4. Bénévoles</p>
                <p>5. Acteurs du changement</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card text-white bg-secondary mb-3">
                <div class="card-header">
                  <center>2 CHOIX POSSIBLES</center>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card border-primary mb-3">
                <div class="card-header">
                  <center>
                    <div class="fa fa-cloud-download"> Je veux récupérer</div>
                  </center>
                </div>
                <div class="card-body">
                  <p>1. Inscris-toi!</p>
                  <p>2. Parcours les frigos disponibles</p>
                  <p>3. Positionne toi sur le frigo désiré</p>
                  <p>4. Contact le donneur via email, il sera informé de ton intérêt</p>
                  <p>5. Ajoute FrigoHero à tes favoris!</p>
                </div>
              </div>

            </div>

            <div class="col-sm-6">
              <div class="card border-success mb-3">
                <div class="card-header">
                  <center>
                    <div class="fa fa-cloud-upload"> Je veux donner</div>
                  </center>
                </div>
                <div class="card-body">
                  <p>1. Inscris-toi!</p>
                  <p>2. Propose un Frigo </p>
                  <p>3. Remplis bien tous les champs</p>
                  <p>4. Tu recevras un email si une personne est intéressée</p>
                  <p>5. Rencontrez-vous et le tour est joué!</p>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card text-white bg-secondary mb-3">
                <div class="card-header">
                  <center>LES CONDITIONS DE DONS :</center>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card text-white bg-success mb-3 ">
                <div class="card-header">
                  <center>
                    <div class="fa fa-check"></div>
                  </center>
                </div>
                <div class="card-body">
                  <p>VÉGÉTAUX : fruits, légumes …</p>
                  <p>PRODUITS SECS : biscuits, l’épicerie …</p>
                  <p>PRODUITS SANS DATE DE PÉREMPTION AFFICHÉE</p>
                  <p>PRODUITS AVEC UNE DLC*</p>
                  (non dépassée, et encore emballés)
                  <p>Produits avec DLUO**</p>
                  (y compris raisonnablement dépassée)
                </div>
              </div>

            </div>

            <div class="col-sm-6">
              <div class="card text-white bg-danger mb-3 ">
                <div class="card-header">
                  <center>
                    <div class="fa fa-ban"></div>
                  </center>
                </div>
                <div class="card-body">
                  <p>PLATS CUISINÉS MAISONS</p>
                  <p>PRODUITS DÉJÀ ENTAMÉS</p>
                  <p>ALCOOL</p>
                  <p>À ÉVITER : VIANDES ET POISSONS</p>
                  (en veillant à ne pas briser la chaîne du froid)
                </div>
              </div>

            </div>
          </div>
          <p style="font-size:55%;">*Date limite de consommation pour des produits périssables<br>
            **Date limite d'utilisation optimale (DLUO) </p>
        </div>
      </div>
    </div>
  </div>
</div>