<% content_for :for_head do %>
  <title>FrigoHero | Annonce
    <%=@item.description%>
  </title>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="card main-card col-lg-10">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <span class="indented">Nouveau produit</span>
          <%= button_to "Retour", items_url,:method => :get, :class =>"btn btn-secondary return-button" %>
        </div>
      </div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
</div>
