<% content_for :for_head do %>
  <title>FrigoHero,
    <%=pluralize(@items.length, 'annonce')%>
  </title>
  <% end %>
  
  <% if @items!=[]%>
    <div id="map"></div>
    <div id="table">
      <div class="row justify-content-center">
        <% flash.each do |key, value| %>
          <div class="col-sm-10 col-6 alert alert-success mt-2">
            <%= value %>
          </div>
        <% end %>
      </div>
      <%= render "/items/results"%>
    </div>
  <%else%>
    <div class="container">
      <div class="row justify-content-center">
        <div class="card main-card col-lg-12">
          <div class="card-header">
            <div class="row row align-items-center justify-content-between">
              <span class="indented">Liste des produits autour de vous</span>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <td>Aucun enregistrement disponible à afficher.</td>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  
  <script type="text/javascript">
    var value = <%=raw @hash.to_json %>
  </script>
